<div class="container">
  <div class="row justify-content-center">
    <i class="far fa-user"></i>
  </div>
  <div class="row justify-content-center">
    <form
      [formGroup]="form"
      #submitForm="ngForm"
      (ngSubmit)="submit(submitForm.value)"
    >
      <div class="form-row">
        <div class="form-group">
          <label for="email"></label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-envelope"></i>
              </div>
            </div>
            <input
              formControlName="email"
              type="email"
              id="email"
              class="form-control"
              placeholder="Email"
            />
          </div>
          <div *ngIf="email.touched && email.invalid" class="text-danger">
            Email is required
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="password"></label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-unlock-alt"></i>
              </div>
            </div>
            <input
              formControlName="password"
              type="password"
              id="password"
              class="form-control"
              placeholder="Password"
            />
          </div>
          <div *ngIf="password.touched && password.invalid" class="text-danger">
            Password is required
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" />
            <label class="form-check-label" for="">
              Remember Me
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <a href="">Forgot Password?</a>
        </div>
      </div>

      <br />
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="submitForm.invalid"
      >
        LOGIN
      </button>
    </form>
  </div>
  <div class="row mt-4 float-right logo">
    <p>Or Login With</p>
    <i class="fab fa-facebook-f mr-2 ml-2"></i>
    <i class="fab fa-linkedin-in mr-2"></i>
    <i class="fab fa-google-plus-g"></i>
  </div>
</div>
